### Gradle ###
.gradle/          # кэш Gradle, не коммитим
build/            # сборка, артефакты

### IntelliJ IDEA ###
.idea/            # IDE-шные настройки
*.iws
*.iml
*.ipr

### OS файлы ###
.DS_Store
Thumbs.db

### Логи ###
*.log